<div class="login zone">
  <app-logo></app-logo>
  <h1>Already an account ?</h1>
  <h2>Login</h2>
  <div class="connection_type">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">

      <div class="inputs">
        <!-- EMAIL -->
        <input class="input" type="email" placeholder="email" formControlName="email">

        <!-- PASSWORD -->
        <input class="input" type="password" placeholder="password" formControlName="password">
      </div>


      <!-- BUTTON -->
      <button class="button button--negate">login</button>
    </form>
    <h3>or</h3>
    <div>
      <img src="https://upload.wikimedia.org/wikipedia/fr/4/4f/Discord_Logo_sans_texte.svg">
    </div>
  </div>


</div>
<div class="register zone zone--negate">
  <h1>Not yet in the team ?</h1>
  <button class="button">register</button>
</div>



