
:host{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 60% 40%;

  //if the width is less than 900px, the grid template column will be 100% and the grid template rows will be 80% 20%
  @media screen and (max-width: 900px){
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
  }

}

.login{
  app-logo{
    width: 100px;
    fill: var(--theme-text1);
  }

  .connection_type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form{
      width: fit-content;
      padding: 25px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;

      .inputs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-bottom: 25px;
      }

    }
  }


}

.register{

  background: var(--theme-text1);
  align-items: center;

  button{
    width: fit-content;
  }
}

.zone{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--negate{
    background: var(--theme-text1);
    color: var(--theme-back1);
  }
}

