@import 'abstracts/colors';
@import 'abstracts/mixins';

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 25px;
  height: 100%;
  gap:50px;
  max-width: calc(100vw - 50px);
  width: fit-content;
  transition: padding 0.3s ease, width 0.3s ease;
  align-items: center;

  @include theme-back();
}

logo{
  display: flex;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: -webkit-fill-available;

  &__item {
    display: flex;
    gap: 25px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 25px;
    transition: color 0.3s ease;
    color: theme-var(--theme-text);

    &:hover {
      //color: theme-var(--theme-main);
    }

    i {
      width: 30px;
      text-align: center;
    }

    &--active {
      background: transparency(mat-var($p-primary), 30%);
      border-left: 5px solid mat-var($p-primary);
    }
  }
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-around;
  width: -webkit-fill-available;
}

.theme-switch {
  -webkit-appearance: none;
  outline: none;
  width: 50px;
  height: 25px;
  background-color: theme-var(--theme-back);
  border-radius: 25px;
  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background-color: theme-var(--theme-text);
    border-radius: 50%;
    transition: 0.2s;
  }

  &:checked:before {
    left: 25px;
    background-color: var(--color-1);
  }
}
