
//main colors for themes
$--color-black: #262626;
$--color-dark: #3F403B;
$--color-main: #727365;
$--color-light: #BFBFAE;
$--color-white: #F2F2E4;

/* Color Theme Swatches in Hex */
$--color-1: #EDC436;
$--color-2: #F69746;
$--color-3: #EB6F5D;
$--color-4: #CE5270;
$--color-5: #A3437B;
$--color-6: #6F4C7D;




