<app-map
  [zoneSubject]="zone"
  [dotsSubject]="dots"
></app-map>
<div class="cards">
  <app-card
    *ngFor="let card of cards"
    [card]="card"
    (click)="selectCard(card)"
  ></app-card>
</div>
<div class="select">
  <div class="input-line">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Monza" #input>
    </mat-form-field>

    <button *ngIf="user" mat-raised-button color="primary" (click)="newTrack()">
      <mat-icon>add</mat-icon>
      New Track
    </button>
  </div>

  <table mat-table [dataSource]="filteredTracks">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let track"> {{track.name}} </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef> Country </th>
      <td mat-cell *matCellDef="let track"> {{track.location.country}} </td>
    </ng-container>

    <ng-container matColumnDef="layouts">
      <th mat-header-cell *matHeaderCellDef> Layouts </th>
      <td mat-cell *matCellDef="let track"> {{ track.layouts.length }} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="row" *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</div>
