@use '@angular/material' as mat;
@import '~@angular/material/theming';
@import 'abstracts/mixins';


/* FOR MATERIAL */

@include mat.core();


$simData_front-primary: mat.define-palette($p-primary);
$simData_front-accent: mat.define-palette($p-accent);
$simData_front-warn: mat.define-palette($p-warn);


//light and dark mode
$simData_front-theme-light: mat.define-light-theme(
    (
      color: (
        primary: $simData_front-primary,
        accent: $simData_front-accent,
        warn: $simData_front-warn,
      ),
    )
);

$simData_front-theme-dark: mat.define-dark-theme(
    (
      color: (
        primary: $simData_front-primary,
        accent: $simData_front-accent,
        warn: $simData_front-warn,
      ),
    )
);


:root{
  @include spread-map($datas);
  @include spread-map($theme);
}

:root.light {
  @include spread-map($theme-map-light);
  @include simData_front-theme('light');
}

:root.dark {
  @include spread-map($theme-map-dark);
  @include simData_front-theme('dark');
}


