:host{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;

  &:hover{
    background: var(--theme-back2);
  }


  .label{
    font-size: 1.2em;
    font-weight: bold;
  }
}
