:host{
  background: var(--theme-back);
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.2s ease;

  h2:hover{
    color: var(--primary);

  }
}
