@import '../abstracts/variables';
@import '../abstracts/mixins';

html,
body {
  background: linear-gradient(235deg, theme-var(--theme-back), theme-var(--theme-back2));
  color: theme-var(--theme-text);
  margin: 0;
  //font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
