@import "abstracts/mixins";

:host{
  display: flex;
  flex-direction: column-reverse;
  background: theme-var(--theme-back);
  border-radius: 5px;
  height: auto;
  gap:5px;
  padding: 10px;
  min-width: 100px;

  .__value{
    font-size: xx-large;
    font-weight: bold;
  }
}
