/* For use in src/lib/core/theming/_palette.scss */
$p-accent: (
  50 : #e5fffc,
  100 : #befef8,
  200 : #92fef4,
  300 : #66fef0,
  400 : #46fdec,
  500 : #25fde9,
  600 : #21fde6,
  700 : #1bfce3,
  800 : #16fcdf,
  900 : #0dfcd9,
  A100 : #ffffff,
  A200 : #f3fffd,
  A400 : #c0fff5,
  A700 : #a7fff1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



$p-warn: (
  50 : #f8e5ea,
  100 : #edbdca,
  200 : #e192a7,
  300 : #d46684,
  400 : #cb4569,
  500 : #c2244f,
  600 : #bc2048,
  700 : #b41b3f,
  800 : #ac1636,
  900 : #9f0d26,
  A100 : #ffced4,
  A200 : #ff9ba8,
  A400 : #ff687c,
  A700 : #ff4e66,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$p-primary: (
  50 : #f4f1eb,
  100 : #e4dccc,
  200 : #d3c5ab,
  300 : #c1ad89,
  400 : #b39c6f,
  500 : #a68a56,
  600 : #9e824f,
  700 : #957745,
  800 : #8b6d3c,
  900 : #7b5a2b,
  A100 : #ffe4c1,
  A200 : #ffce8e,
  A400 : #ffb85b,
  A700 : #ffad41,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
