@use '@angular/material' as mat;
@include mat.core();
@import 'colors';
@import 'palettes';

//colors of data light theme
$theme-map-light: (
  '--theme-text1': $--color-black,
  '--theme-text2': $--color-dark,
  '--theme-main': $--color-main,
  '--theme-back2': $--color-light,
  '--theme-back1': $--color-white,
);

//colors of data dark theme
$theme-map-dark: (
  '--theme-text1': $--color-white,
  '--theme-text2': $--color-light,
  '--theme-main': $--color-main,
  '--theme-back2': $--color-dark,
  '--theme-back1': $--color-black,
);

// MATERIAL

$simData_front-primary: mat.define-palette($md-primarypalette);
$simData_front-accent--dark: mat.define-palette(
  $md-accentpalette,
  200,
  100,
  400
);
$simData_front-accent--light: mat.define-palette(
  $md-accentpalette,
  900,
  700,
  800
);
$simData_front-warn: mat.define-palette($md-warnpalette);

//light and dark mode
$simData_front-theme-light: mat.define-light-theme(
  (
    color: (
      primary: $simData_front-primary,
      accent: $simData_front-accent--light,
      warn: $simData_front-warn,
    ),
  )
);

$simData_front-theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $simData_front-primary,
      accent: $simData_front-accent--dark,
      warn: $simData_front-warn,
    ),
  )
);
