<app-logo [fillColor]="'var(--primary)'" [size]='50'  ></app-logo>
<div class="nav">
  <a
    [ngClass]="{ 'nav__item--active': isActive(page.link) }"
    [routerLink]="page.link"
    class="nav__item"
    *ngFor="let page of pages"
  >
    <mat-icon>{{ page.icon }}</mat-icon>
    <span>{{ page.name }}</span>
  </a>
</div>
<ng-container *ngIf="user; then connectedBlock; else notConnectedBlock;"></ng-container>
<ng-template #notConnectedBlock>
  <button mat-flat-button color="primary" (click)="login()">
    <mat-icon>login</mat-icon>
    Login
  </button>
</ng-template>
<ng-template #connectedBlock>
  <button mat-stroked-button color="primary" (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</ng-template>
