:host{
  display: grid;
  grid-template-columns: max-content auto max-content;
  width: 100vw;
  height: 100vh;
}


.main{
  display: grid;
  grid-template-rows: max-content;
  box-sizing: border-box;
  height: inherit;

  .content{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    justify-items: center;
  }

  &--login{
    padding: 0;
  }
}


.version{
  position: absolute;
  bottom: 0;
  right: 0;
}

