:host{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "navbar header" "navbar main";
  width: 100%;
  height: 100%;
}

.header{
  grid-area: header;
}

.nav-bar{
  grid-area: navbar;
}

.main{
  grid-area: main;

  &--login{
    grid-area: 1 / 1 / 2 / 2;
  }
}


